.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 2.25em;
}

.arrow {
  display: inline-block;
  box-sizing: border-box;
  max-height: 3px;
  max-width: 3px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.modal-content {
  z-index: 4;
}
.modal-content h2 {
  color: aliceblue;
}
.edit-form input {
  z-index: 4;
  margin: 5px 0;
}

.modal-background {
  z-index: 3;
}
#to-do-form {
  max-width: 30%;
}
